Instruções Git.txt
STL/
Random generative test/
jogo-da-vida-conway-master/
Imagens/
Entradas/
Códigos de Terceiros/
Arquivos Blender/
.ipynb_checkpoints/
Relação documentos desta pasta.txt
*.blend
*.blend1
*.png
*.cpp
*.zip
*.stl
*.txt